* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #141414;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
}
